#username, #password {
    width: 19vw;
    height: 6vh;
    margin: 0px;
    padding: 0.25vw;
    border: 0px;
    font-family: "Mooli";
    font-size: larger;
    font-weight: bold;
    border-radius: 6px;
}

#username:focus, #password:focus {
    outline-width: 0;
    outline: none;
}

#username {
    margin-bottom: 0.5vh;
}