# Auto detect text files and perform LF normalization
* text=auto

/Client/node_modules
/AuthenticationServer/node_modules
/GameServer/node_modules
*.env
*/ecosystem.config.js
/AuthenticationServer/dist
/GameServer/dist
/Client/dist
log.txt
*/logs
