#account_username, #account_password, #account_email {
    width: 24vw;
    height: 6vh;
    margin: 0px;
    padding: 0.25vw;
    border: 0px;
    font-family: "Mooli";
    font-size: larger;
    font-weight: bold;
    border-radius: 6px;
}

#account_username:focus, #account_password:focus, #account_email:focus {
    outline-width: 0;
    outline: none;
}

#account_username, #account_password {
    margin-bottom: 10px;
}